h1 {
	text-align: center;
	font-family: times new roman;
}
table {
	align-content: center;
}
table {
	font-family: cambria;
}
tr {
  border-bottom: 1px solid #ddd;
}
tr:hover {
	background-color: #D6EEEE;
}
h5 {
	text-align: right;
	font-family: cambria;
}
h6 {
	text-align: left;
	font-family: cambria;
}