h1 {
	color: black; font-family: cambria;
}
h2 {
	font-family: cambria;
}
h3 {
	font-family: cambria;
}
ol {
	font-family: calibri;
}
ul {
	font-family: calibri;
}
p {
	font-family: calibri;
}
h5 {
	font-family: cambria;
}
h1 {
	text-align: center;
}